.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
  font-weight: bolder;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
}

button{
  border: 0px;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: transparent;
}

.MainPage{
  height: inherit;
  align-items: center;
  align-content: center;
  text-align: center;
}

.MainBody{
  height: 100%;
  margin:auto;
  align-items: center;
  align-content: center;
  text-align: center;
}

.MainCenterSection{
  height:50%;
  width: 50%;
  margin:auto;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.ImageSequence{
  float:left;
  flex:left;
  margin:100px;
}

.SectionSelector{
  position: relative;
  display: grid;
  flex:right;
  margin:100px;
  width: 100%;
  height: 25%;
}
.SectionSelector button{
  text-align: left;
  width: 200%;
  transition:linear;
  transition-duration: 0.1s;
  font-weight:lighter;
  /* border: 1px solid white; */
  padding: 5%;
}
.SectionSelector button:hover{
  /* width: 120%; */
  text-indent: 10px;
  transition:linear;
  transition-duration: 0.1s;

}